<a href="https://colab.research.google.com/github/Nivoter/ML/blob/main/PR00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello world!")

Hello world!

In [4]:
!pip install numpy==1.18.5
import numpy as np

Requirement already satisfied: numpy==1.18.5 in /usr/local/lib/python3.6/dist-packages (1.18.5)

In [5]:
#Задание 1
#Выведите справку по команде numpy.linspace() в ячейке ниже.
np.linspace?

In [6]:
#Задание 2
#1. Посмотрите, что будет, если записать по индексу [1] любое значение.
var_list = [1, '111']
var_list[1] = '999'
var_list
#Вывод - изменилось значение в ячейке с индексом 1

[1, '999']

In [7]:
#2. Теперь проверьте, что же будет, если вызвать index() по значению, которого нет?
var_list.index(10)
#Вывод - выводится ошибка ValueError

ValueError: ignored

In [8]:
#3. Воспользуйтесь функцией append() списка, чтобы добавить элемент в список и выведите весь список.
var_list.append(5)
var_list
#Вывод - элемент, использованный в функции append становится последним жлементом списка

[1, '999', 5]

In [9]:
#Задание 3
#Попробовать изменить элемент [1] кортежа
var_tuple = (1, '111', 'hey')
var_tuple[1] = 1
var_tuple
#Вывод - элементы котрежа нельзя изменить

TypeError: ignored

In [10]:
#Задание 4
var_dict = {
    'string_key': 'string_value',
    1: 'oh, integer key?'
}
var_dict['new_key'] = 'new_value'
var_dict['new_key']
var_dict

{1: 'oh, integer key?', 'new_key': 'new_value', 'string_key': 'string_value'}

In [11]:
#Попробуйте создать новый словарь new_dict с другими парами ключ-значение
new_dict = {
    'ML': 'nice',
    'not_ML': 'not_nice'
}
new_dict['ML']

'nice'

In [12]:
#воспользуйтесь функцией var_dict.update(new_dict)(мы передаем новый словарь как аргумент функции). 
#Посмотрите, что поменялось в обоих словарях.
var_dict.update(new_dict)
var_dict

{1: 'oh, integer key?',
 'ML': 'nice',
 'new_key': 'new_value',
 'not_ML': 'not_nice',
 'string_key': 'string_value'}

In [13]:
new_dict
#Вывод - функцией update можно добавить словарь в словарь, при этом добавленный словарь не изменяется

{'ML': 'nice', 'not_ML': 'not_nice'}

In [14]:
#Задание 5
#Создайте свое множество new_set и с помощью операторов "|" и "&" получите объединение 
#и пересечение множеств. Выведите результаты.
var_set = {
    'no, keys',
    'only unique values!'
}
new_set = {
    'ML',
    'more_ML',
    'no, keys'
}
new_set

{'ML', 'more_ML', 'no, keys'}

In [15]:
new_set|var_set

{'ML', 'more_ML', 'no, keys', 'only unique values!'}

In [16]:
new_set&var_set

{'no, keys'}

In [17]:
#Задание 6
#Создайте свой список и выполните проход по нему с помощью цикла for.
iter = 0
newnew_list = [1,2,3,'111','222','333']
for iter in newnew_list:
    print(iter)

1
2
3
111
222
333

In [18]:
#Задание 7
#Напишите функцию для вычисления периметра прямоугольника. 
#В качестве аргументов передайте стороны прямоугольника.
def perimetr(a,b,c,d):
  return a + b + c + d
result = perimetr(10.5,20,4,5)
result

39.5

Задание 8

Напишите класс без конструктора  с методом, который на вход принимает число x и производит вычисления по формуле: $2*e^{x}$

Для вычисления степени экспоненты воспользуйтесь функцией exp() модуля math (не забудьте подключить его, устаналивать не требуется).

Выведите в цикле значения метода при целочисленных аргументах от 4 до 12 с использованием новой функции.

In [19]:
import math as mt

In [20]:
class expClass:
  def make_2_e_Power_x(x):
    return 2*mt.exp(x)

In [21]:
myClass = expClass
iter = 0
for iter in range(4,12):
  print(myClass.make_2_e_Power_x(iter))

109.19630006628847
296.8263182051532
806.8575869854702
2193.266316856917
5961.915974083457
16206.167855150768
44052.931589613436
119748.28343039563

Задание 9

Напишите функцию, которая принимает имя, возраст и среднюю оценку в качестве аргументов и отображает данные тремя способами, рассмотренными ранее, в виде строк.

Добрый день! Мое имя: 'name', возраст: 'age', оценка: 'avg_grade'. Приятно познакомиться!

Средняя оценка должна отображаться не более, чем с двумя символами после запятой.

In [22]:
def show_info(name, age, avg_grade):
    pass
    temp_string = 'Добрый день! Мое имя %s, возраст %d, оценка %.2f. Приятно познакомится!'
    new_string = temp_string % (name,age,avg_grade)
    print(new_string)
    print('Добрый день! Мое имя %s, возраст %d, оценка %.2f. Приятно познакомится!' % (name,age,avg_grade))
    print('Добрый день! Мое имя {}, возраст {}, оценка {:.2f}. Приятно познакомится!'.format(name,age,avg_grade))

show_info('Kolya',22,4.512312312313)

Добрый день! Мое имя Kolya, возраст 22, оценка 4.51. Приятно познакомится!
Добрый день! Мое имя Kolya, возраст 22, оценка 4.51. Приятно познакомится!
Добрый день! Мое имя Kolya, возраст 22, оценка 4.51. Приятно познакомится!